
// color web site
$first-grey: #2c3e50;
$second-grey: #30302f;
$first-blue: #427abe;
$tre-grey: #808080;
$for-grey: #b3b3b3;
$cadetblue: #5f9ea0;

// color basic
$White: #ffffff;
$Black: #000000;




