.products-box {
    color: $White;
    height: 700px;
    background-color: $second-grey;
}
.card-box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    .card {
        flex-basis: 15%;
        margin-top: 40px;
        img {
            width: 120px;
        }
    }

}
.button-products {
    padding: 15px 70px 15px 70px;
    background-color: $first-blue;
    border: 0px;
    margin-top: 20px;
    cursor: pointer;
    a {
        font-size: 12px;
        color: $White;
        text-decoration: none;
    }
}