.box{
    background-color: $cadetblue;
    padding: 50px;
    h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 20px;
        background-color: $first-blue;
        color: $White;
    }
}